<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Header</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light col-lg-12 col-md-12 col-sm-12">
        <div class="d-none d-lg-block col-lg-1">
            <a href="/">
                <h1 class="headerIcon">Dummy Text Blog</h1>
            </a>
        </div>
        <div class="d-lg-none col-md-1 d-none d-sm-block col-sm-1">
            <a href="/" class="col-md-1 ">
                <h1 class="col-md-11" style="color: black;">DT</h1>
            </a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-11 row ">
            <a href="/codeIpsum"><button type="button" class="btn navButton mr-3">Code</button></a>
            <!-- <a href="/Blog/views/potatoIpsum.ejs"><button type="button" class="btn btn-outline-secondary">Eat Simple</button></a> -->
            <a href="/cakeIpsum"><button type="button" class="btn navButton mr-3">Bake</button></a>
            <a href="/catIpsum"><button type="button" class="btn navButton mr-3">Pet</button></a>
            <a href="/"><button type="button" class="aboutUs btn  navButton">About</button></a>
        </div>
        <form class="form-inline col-lg-4 col-md-3 "> 
            <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success searchButton d-none d-lg-block" type="submit">Search</button>
            <button class="btn btn-outline-success searchButton d-lg-none" type="submit">🔎</button>
        </form>
    </nav>
</body>

</html>