<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Bear Claw Sweet Roll Sweet Jelly Lemon Drops I Love</h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <h1 class="article-info">Posted: 2023-06-08</h1>
                <h1 class="article-info">Author: Pretty D Sweet</h1>
            </div>
            <hr>
            <p style="text-align: center; font-weight: 700;" class="mt-3">Halvah I love shortbread I love fruitcake I
                love jelly. Croissant dessert cake chocolate cake danish I
                love chupa chups sweet I love. Pudding sesame snaps marshmallow I love biscuit tiramisu I love gummies.
                Toffee topping lemon drops tiramisu cake tootsie roll ice cream.</p>
            <img class="d-block col-lg-12 " src="/images/cakeSectionImage/cakeImage01.jpg" alt="">
            <p class="mt-5">
                Bonbon I love dragée chupa chups jujubes tart soufflé I love toffee. Sweet roll liquorice marzipan I
                love candy caramels I love. Sweet roll gingerbread fruitcake I love gingerbread shortbread pudding I
                love sweet.</p>

            <p>
                Brownie dessert pie dessert lemon drops croissant. Bear claw I love soufflé cheesecake candy canes.
                Tiramisu macaroon cake tiramisu macaroon.
            </p>

        </div>
    </div>
    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>