<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Shortbread pie cake</h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <h1 class="article-info">Posted: 2024-06-08</h1>
                <h1 class="article-info">Author: Chocolate Cake</h1>
            </div>
            <hr>
            <img class="d-block col-lg-12 mt-3" src="/images/cakeSectionImage/cakeImage01.jpg" alt="">
            <p class="mt-5">
                Marshmallow cupcake soufflé cheesecake I love halvah. Halvah jelly beans jujubes pie caramels tiramisu
                cotton candy gummi bears tiramisu. Ice cream muffin shortbread ice cream liquorice cake. Halvah tart
                carrot cake jelly beans fruitcake shortbread chocolate apple pie.</p>

            <p>
                Muffin marshmallow cookie dragée liquorice cheesecake candy. Chupa chups cake wafer I love donut jelly-o
                soufflé. Cake dragée sweet cheesecake muffin.
            </p>
            <p>
                Wafer tootsie roll bonbon biscuit cheesecake biscuit. Wafer caramels gummi bears wafer halvah bear claw
                sesame snaps cake ice cream. Gummies bear claw oat cake sugar plum I love bonbon gingerbread.
            </p>
            <p>
                Donut tiramisu gingerbread tart tootsie roll jelly-o. Marzipan gummies tiramisu jelly beans pie cupcake
                bear claw candy. I love pie fruitcake soufflé bonbon soufflé.
            </p>
            <p>
                Croissant dessert I love gingerbread cake marshmallow chupa chups. Cookie dessert chupa chups dessert
                halvah. Chupa chups chocolate cake cotton candy chocolate cake biscuit bonbon lollipop. Sesame snaps I
                love I love donut pudding gummi bears.
            </p>
        </div>
    </div>
    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>