<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Tart halvah candy canes</h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <% const myDate=new Date().toJSON().slice(0, 10);%>
                    <h1 class="article-info">
                        posted:
                        <%= myDate %>
                    </h1>
                    <h1 class="article-info">Author: Cake Ipsum</h1>
            </div>
            <hr>
            <img class="d-block col-lg-12 mt-3" src="/images/cakeSectionImage/cakeImage01.jpg" alt="">
            <p class="mt-5">
                Lollipop carrot cake pastry dessert pudding I love gingerbread I love. Cheesecake oat cake macaroon I
                love brownie macaroon toffee. I love sweet roll jelly gummies biscuit I love bonbon halvah. Brownie tart
                jelly pastry ice cream. Croissant sweet roll bonbon wafer carrot cake. Dragée I love fruitcake
                cheesecake topping. Brownie chocolate cake sugar plum chocolate fruitcake tiramisu powder. Wafer candy
                sugar plum jelly beans pie brownie. </p>

            <p>
                Icing cake I love fruitcake gingerbread I love. Jelly beans sweet roll I love chocolate cake chocolate
                icing marshmallow biscuit. I love jujubes bear claw cookie jelly beans I love I love macaroon. Halvah
                lemon drops candy canes muffin oat cake. Sweet caramels pudding tart sesame snaps chocolate cake
                gingerbread muffin. Biscuit chupa chups bear claw sesame snaps tart jujubes gummi bears. Icing donut
                sesame snaps wafer croissant topping I love liquorice. Pudding sugar plum jelly dessert jelly chupa
                chups.
            </p>
            <p>Cotton candy bear claw jelly ice cream brownie sesame snaps I love cake chocolate bar. Jujubes jelly
                gummies tootsie roll carrot cake tart chupa chups candy. Donut sweet lollipop fruitcake cake. Caramels I
                love I love I love oat cake liquorice dessert fruitcake sweet. Sesame snaps muffin powder dragée I love
                jujubes. Jelly I love I love danish oat cake sweet cupcake.</p>
            <p>Sweet cake cotton candy biscuit jelly beans tiramisu. Jelly danish icing I love muffin. Halvah toffee
                wafer gummies cheesecake jelly-o dessert. Brownie soufflé I love candy chocolate cake jelly jelly-o
                jujubes jelly-o. Dessert chocolate gummies cheesecake pudding cheesecake chocolate muffin. Chocolate
                cake caramels tart cookie chocolate cake jujubes. I love halvah tootsie roll pie fruitcake soufflé
                carrot cake sweet I love. Sugar plum soufflé halvah bonbon tiramisu oat cake candy brownie. Jelly beans
                cookie marshmallow donut pastry I love toffee caramels. Tootsie roll tart pastry macaroon soufflé sugar
                plum dessert I love bonbon.</p>
            <p>
                Dessert donut tart toffee jujubes jelly beans bear claw tart. Pie I love sweet roll liquorice dessert
                cheesecake. Biscuit wafer cake marshmallow gingerbread caramels. Sweet cotton candy I love dragée I
                love. Shortbread sugar plum cupcake bonbon bonbon. Tootsie roll candy sweet roll donut lollipop cookie.
            </p>
        </div>
    </div>
    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>