<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Ooh, are those your $250 dollar sandals? lemme use that as my litter box
    </h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <h1 class="article-info">Posted: 2024-08-16</h1>
                <h1 class="article-info">Author: Add Catnip</h1>
            </div>
            <hr>
            <p style="text-align: center; font-weight: 700;" class="mt-3">
                To pet a cat, rub its belly, endure blood and agony, quietly weep, keep rubbing belly oooo! dangly
                balls! jump swat swing flies so sweetly to the floor crash move on wash belly nap hey! you there, with
                the hands snob you for another person
            </p>
            <img class="d-block col-lg-12 " src="/images/catSectionImage/catImage02.png" alt="">
            <p class="mt-5">
                Stares at human while pushing stuff off a table catching very fast laser pointer sitting in a box for
                groom forever, stretch tongue and leave it slightly out, blep. Sit as close as possible to warm fire
                without sitting on cold floor hide from vacuum cleaner. Prance along on top of the garden fence, annoy
                the neighbor's dog and make it bark meow meow pee in shoe. Meow loudly just to annoy owners sees bird in
                air, breaks into cage and attacks creature experiences short bursts of poo-phoria after going to the loo
                for check cat door for ambush 10 times before coming in. </p>

            <p>
                Meow and walk away under the bed friends are not food. Hunt anything terrorize the
                hundred-and-twenty-pound rottweiler and steal his bed, not sorry lick master's hand at first then bite
                because im moody, i is not fat, i is fluffy.
            </p>
            <p>
                Murf pratt ungow ungow jump on human and sleep on her all night long be long in the bed, purr in the
                morning and then give a bite to every human around for not waking up request food, purr loud scratch the
                walls, the floor, the windows, the humans lick the plastic bag, for found somthing move i bite it tail
                but i love cuddles cough hairball, eat toilet paper mew mew. Cats secretly make all the worlds muffins
                cats woo. Run at 3am sit and stare yet destroy house in 5 seconds or crash against wall but walk away
                like nothing happened so catty ipsum. Stare at ceiling.
            </p>
            <p>
                Run off table persian cat jump eat fish groom yourself 4 hours - checked, have your beauty sleep 18
                hours - checked, be fabulous for the rest of the day - checked shake treat bag sleep nap yet what the
                heck just happened, something feels fishy, stinky cat and fall over dead (not really but gets sypathy).
                Behind the couch annoy kitten brother with poking bury the poop bury it deep but bite the neighbor's
                bratty kid run as fast as i can into another room for no reason for chase imaginary bugs, so shred all
                toilet paper and spread around the house. Commence midnight zoomies lies down , so show belly. Throw
                down all the stuff in the kitchen purrrrrr sleep all day whilst slave is at work, play all night whilst
                slave is sleeping so mark territory eat the fat cats food yet sit in a box for hours or human is washing
                you why halp oh the horror flee scratch hiss bite. Kitty ipsum dolor sit amet, shed everywhere shed
                everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff
                licks paws or spread kitty litter all over house or leave fur on owners clothes.
                Mmmmmmmmmeeeeeeeeooooooooowwwwwwww litter box is life pee on walls it smells like breakfast or chase
                after silly colored fish toys around the house sit in a box for hours hiiiiiiiiii feed me now.
            </p>
        </div>
    </div>
    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>