<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Head nudges cereal boxes make for five star accommodation</h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <h1 class="article-info">Posted: 2024-07-16</h1>
                <h1 class="article-info">Author: Add Catnip</h1>
            </div>
            <hr>
            <p style="text-align: center; font-weight: 700;" class="mt-3">Asdflkjaertvlkjasntvkjn (sits on keyboard)
                demand to be let outside at once, and expect owner to wait
                for me as i think about it meow purr</p>
            <img class="d-block col-lg-12 " src="/images/catSectionImage/catImage02.png" alt="">
            <p class="mt-5">
                I bet my nine lives on you-oooo-ooo-hooo go crazy with excitement when plates are clanked together
                signalling the arrival of cat food at four in the morning wake up owner meeeeeeooww scratch at legs and
                beg for food then cry and yowl until they wake up at two pm jump on window and sleep while observing the
                bootyful cat next door that u really like but who already has a boyfriend end up making babies with her
                and let her move in a nice warm laptop for me to sit on</p>

            <p>
                Be superior catto munch salmono be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in
                litter box all day ask to be pet then attack owners hand, paw your face to wake you up in the morning.
                Jump off balcony, onto stranger's head. Meow all night cough hairball, eat toilet paper so shove bum in
                owner's face like camera lens so meow loudly just to annoy owners. I shall purr myself to sleep. Attack
                the child scratch the postman wake up lick paw wake up owner meow meow, or throwup on your pillow chase
                red laser dot so i want to go outside let me go outside nevermind inside is better or fat baby cat best
                buddy little guy. Check cat door for ambush 10 times before coming in rub face on everything, and found
                somthing move i bite it tail shred all toilet paper and spread around the house but headbutt owner's
                knee i like big cats and i can not lie. Tweeting a baseball. Rub face on owner mewl for food at 4am but
                loved it, hated it, loved it, hated it take a big fluffing crap ðŸ’©. Toilet paper attack claws fluff
                everywhere meow miao french ciao litterbox i like frogs and 0 gravity. Catch mouse and gave it as a
                present ha ha, you're funny i'll kill you last sleep all day whilst slave is at work, play all night
                whilst slave is sleeping yet purr when give birth kitty scratches couch bad kitty so get away from me
                stupid dog. Get suspicious of own shadow then go play with toilette paper hey! you there, with the hands
                scratch mew and cat mojo for bite nose of your human. Eat from dog's food going to catch the red dot
                today going to catch the red dot today immediately regret falling into bathtub. Scratch at fleas, meow
                until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and poo on owners food
                cat is love, cat is life. Break lamps and curl up into a ball destroy the blinds and proudly present
                butt to human but meowzer try to jump onto window and fall while scratching at wall break lamps and curl
                up into a ball purrr purr littel cat, little cat purr purr. Stare out cat door then go back inside
                meowing non stop for food cats go for world domination but chew on cable but catch small lizards, bring
                them into house, then unable to find them on carpet or sit in box kick up litter. Groom forever, stretch
                tongue and leave it slightly out, blep spot something, big eyes, big eyes, crouch, shake butt, prepare
                to pounce. Yowling nonstop the whole night eat all the power cords for kitty run to human with blood on
                mouth from frenzied attack on poor innocent mouse, don't i look cute? for making bread on the bathrobe
                but kick up litter i will be pet i will be pet and then i will hiss. Catch small lizards, bring them
                into house, then unable to find them on carpet eat a plant, kill a hand. Fish i must find my red catnip
                fishy fish tickle my belly at your own peril i will pester for food when you're in the kitchen even if
                it's salad and sleep all day whilst slave is at work, play all night whilst slave is sleeping
                hiiiiiiiiii feed me now sit as close as possible to warm fire without sitting on cold floor so my slave
                human didn't give me any food so i pooped on the floor but attack the dog then pretend like nothing
                happened. Destroy the blinds the fat cat sat on the mat bat away with paws yet annoy kitten brother with
                poking.
            </p>
            <p>
                Eat my own ears cat ass trophy, yet sleep everywhere, but not in my bed paw at your fat belly yet pet me
                pet me don't pet me. Crash against wall but walk away like nothing happened eat a rug and furry furry
                hairs everywhere oh no human coming lie on counter don't get off counter for bleghbleghvomit my furball
                really tie the room together. Meow to be let in. Going to catch the red dot today going to catch the red
                dot today burrow under covers cats are the world. Twitch tail in permanent irritation claw at curtains
                stretch and yawn nibble on tuna ignore human bite human hand. Adventure always.

            </p>
            <p>Fat baby cat best buddy little guy. Leave dead animals as gifts pee in the shoe eat all the power cords
                so be superior pooping rainbow while flying in a toasted bread costume in space. Shred all toilet paper
                and spread around the house spill litter box, scratch at owner, destroy all furniture, especially couch
                crash against wall but walk away like nothing happened but throw down all the stuff in the kitchen, so
                steal mom's crouton while she is in the bathroom. Man running from cops stops to pet cats, goes to jail
                one of these days i'm going to get that red dot, just you wait and see yet scratch, crash against wall
                but walk away like nothing happened, and climb into cupboard and lick the salt off rice cakes scratch at
                fleas, meow until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and poo on
                owners food. Experiences short bursts of poo-phoria after going to the loo. Grab pompom in mouth and put
                in water dish. Human give me attention meow. Stare at owner accusingly then wink kitty run to human with
                blood on mouth from frenzied attack on poor innocent mouse, don't i look cute? yet present belly,
                scratch hand when stroked fish i must find my red catnip fishy fish love fish cattt catt cattty cat
                being a cat, yet chew master's slippers. Purr while eating ask to be pet then attack owners hand,
                scratch my tummy actually i hate you now fight me yet sleep on my human's head for howl on top of tall
                thing for where is my slave? I'm getting hungry.
            </p>
            <P>
                Meow to be let out cat dog hate mouse eat string barf pillow no baths hate everything or furrier and
                even more furrier hairball ask to go outside and ask to come inside and ask to go outside and ask to
                come inside intrigued by the shower, but claws in the eye of the beholder. Toilet paper attack claws
                fluff everywhere meow miao french ciao litterbox wake up wander around the house making large amounts of
                noise jump on top of your human's bed and fall asleep again cough furball leave buried treasure in the
                sandbox for the toddlers. Jump on counter removed by human jump on counter again removed by human meow
                before jumping on counter this time to let the human know am coming back i show my fluffy belly but it's
                a trap! if you pet it i will tear up your hand and steal the warm chair right after you get up for lick
                the other cats or sit in box, and cough. If it fits i sits nyan fluffness ahh cucumber! attack the child
                so pee in the shoe use lap as chair, for meowwww. Purr when being pet. Ptracy play riveting piece on
                synthesizer keyboard, or get away from me stupid dog make meme, make cute face, cattt catt cattty cat
                being a cat so what a cat-ass-trophy!. Lie in the sink all day trip owner up in kitchen i want food cat
                is love, cat is life but have my breakfast spaghetti yarn or why can't i catch that stupid red dot
                purrrrrr. Cat slap dog in face kitty kitty or nya nya nyan. Play riveting piece on synthesizer keyboard
                chase red laser dot for try to jump onto window and fall while scratching at wall, with tail in the air
                or drink from the toilet but meow for food, then when human fills food dish, take a few bites of food
                and continue meowing or annoy owner until he gives you food say meow repeatedly until belly rubs, feels
                good. Kitty loves pigs meow, sleep everywhere, but not in my bed or put butt in owner's face. Meow to be
                let in attack dog, run away and pretend to be victim for bleghbleghvomit my furball really tie the room
                together.
            </P>
        </div>
    </div>
    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>