<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Stateless SQL</h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <% const myDate=new Date().toJSON().slice(0, 10);%>
                    <h1 class="article-info">
                        posted:
                        <%= myDate %>
                    </h1>
                    <h1 class="article-info">Author: Coder Ipsum </h1>
            </div>
            <hr>
            <p style="text-align: center; font-weight: 700;" class="mt-3">So programming the GraphQL won't do anything,
                we need to scale the progressive LGTM convention!</p>
            <img class="d-block col-lg-12 " src="/images/codeSectionImage/codeSection1.png" alt="">
            <p class="mt-5">
                Bubble sort browser promise S3 Reddit callback hell mutation observer waterfall. Command-line continuous
                integration static typing reflog ecommerce platform linker const programmer raspberry pi LLVM. UX SOAP
                bitcoin concurrent incognito bike-shedding idiosyncratic contexts. Engineer OOP native clean code
                compile driver. Code-splitting f*** YAML pull request attributes programmer cloud.</p>

            <p>
                Composition over inheritance SRE tree shaking virtual DOM brownfield neck beard database. Ecommerce
                platform Byzantine fault tolerance JQuery document object model architecture open source tl;dr linked
                list. Promise Netscape reactive bubble sort diversity and inclusion TL compiler. Test double UI grep
                atomic design yarn meta-programming. Attributes lazy compile resource antipattern developer stack trace.
            </p>
            <p>
                Documentation driven grep Slack pair programming fault tolerant module domain Kubernetes. Team-player
                container data store Linux LGTM freelancer microservices. Minimum viable product transaction whiteboard
                programmer Stack Overflow key-value raspberry pi tree shaking reflog database.
            </p>
            <p>Reactive pair programming controller imperative-mood yarn Chrome. Bitwise operator legacy reflog
                hashtable coding parent api. Array UX container duck typing markup remote procedure call CSS-in-JS
                composition Dijkstra. Stateless uglify Babel git Chrome DAG rebase Ada Lovelace composition. Dijkstra
                class behavior-driven emoji singleton branch data store.</p>
        </div>
    </div>
    <script>
        var myDate = new Date().toJSON().slice(0, 10);

    </script>

    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
    </div>
</body>

</html>