<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/article.css" />
    <%- include("partials/header.ejs") %>

</head>

<body>
    <h1 class="mt-5">Sudo Spaghetti Code Data Store</h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center">
                <h1 class="article-info">Popular Article🔥</h1>
                <% const myDate=new Date().toJSON().slice(0, 10);%>
                    <h1 class="article-info">
                        posted:
                        2022-07-02
                    </h1>
                    <h1 class="article-info">Author: CLegacy Code </h1>
            </div>
            <hr>
            <p style="text-align: center; font-weight: 700;" class="mt-3">You can't compress the engineer without
                machine-learning the incognito FP convention!</p>
            <img class="d-block col-lg-12 " src="/images/codeSectionImage/codeSection2.png" alt="">
            <p class="mt-5">
                Free as speech remote observer pattern CSS-in-JS npm clean code incognito websockets convention API.
                Reddit machine learning model AI test-driven view-model. Agile package manager freelancer S3 Reddit
                object library. Child module fullstack spy animation bitcoin.</p>

            <p>
                Contribution Kubernetes pairing yarn perf matters pattern RPC lazy. Time-to-interactive LLVM
                code-splitting ship it distributed systems machine learning ELF class model. Stand-up atomic design
                coding serverless DAG scale uglify S3. CS degree CLI casting font whiteboard subclass cross-post. Test
                double constant minimum viable product Stack Overflow a place for everything cache machine learning
                compile pairing.
            </p>
            <p>
                Dynamic programming casting greenfield AI cherry pick emoji merge sort little Bobby Tables scale. Open
                source whiteboard architecture frame rate Chrome incognito bitcoin bubble sort CSS-in-JS. IRC driver OTP
                Dijkstra incognito Edge.
            </p>
        </div>
    </div>
    <div class="col-lg-12">
        <%- include("partials/footer.ejs") %>
      </div>
</body>

</html>